@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.title {
    font-size: 25px;
    margin: 80px;
}

body {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 20px;
}

body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #020201;
    color: #f3f3f3;
}

.container {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.resultPassword {
    display: flex;
}

#senha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    width: 150px;
    height: 30px;
    background-color: #f3f3f3;
    color: #020201;
    border: 0;
    border-radius: 0;
}

#copiarSenha {
    width: 50px;
    height: 30px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: brown;
    border: none;
    color: #f3f3f3;
}

#gerarSenha {
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: brown;
    border: none;
    color: #f3f3f3;
    width: 200px;
    height: 30px;
}

.convert{
    display: block;
}

#inputString {
    display: block;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 35px;
    padding-left: 5px;
    background-color: #f3f3f3;
    color: #020201;
    margin: 0;
}

#convertido {
    display: flex;
    width: 350px;
    height: 35px;
    color: #020201;
    padding-left: 5px;
    background-color: #f3f3f3;
}

input[type="text"]{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid #ccc;
    border-radius: 0px;
    outline: none;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: unset;
  margin: 0;
  padding: initial;
  border: 0;
  background-color: white;
  font-family: 'Rubik', sans-serif;;
  text-align: inherit;
  color: #020201;
  font-weight: 100;
  font-size: 12px;
}

input[type="number"]:focus {
  outline: none;
}

label {
    font-size: 10px;
}

.box {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
}

#copiarTxtConvertido {
    width: 60px;
    height: 35px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: #a52a2a;
    border: none;
    color: #f3f3f3;
}

.caixa {
    display: flex;
    margin: 30px 0 0 0;
}

#boxNumbers {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-around;
}

#inputMinutes, #inputSeconds {
    width: 35px;
    height: 20px;
    text-align: center;
    align-items: center;
}

#boxSub {
    font-size: 12px;
}

#mensagemErro {
    display: none;
    font-size: 12px;
    color: #a52a2a;
    margin-top: 0;
}

.progress-bar {
    display: none;
    position: relative;
    width: 200px;
    height: 2px;
    background: rgb(0,255,68); 
    background: linear-gradient(90deg, rgba(0,255,68,1) 16%, rgba(150,121,15,1) 52%, rgba(255,89,58,1) 76%, rgba(165,42,42,1) 100%);
    overflow: hidden;
}

#progressBar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #020201;
    animation: progress-animation var(--animation-duration, 30000ms) linear infinite;
}

@keyframes progress-animation {
    0% { left: 0%; }
    100% { left: 100%; }
}